<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control">
          <%= listing.description %></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" value="<%= listing.image %>" type="text" />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"/>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
          name="listing[country]"
          value="<%= listing.country %>"
          type="text"
          class="form-control"
        />
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        class="form-control"
      />
      </div>
      <br /><br />
      <button class="btn btn-dark">Edit</button>
    </form>
    <br>
  </div>
</div>
    
